.post-section{
    max-width: 630px;
    width: 100%;
   overflow-y: scroll;
   height: 100vh;
   overflow-x: hidden;
}
.story{
    
}
.post-section::-webkit-scrollbar{
    display: none;
    width: 0;
}
.post{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 630px;

}
@media screen and (max-width: 415px){
    .post{
        width: fit-content;
        margin-bottom: 57px;
    }
    .notify-bar{
        height: 60px;
       
        display: flex;
        align-items: center;
    }
    .notify-bar p{
        font-weight: 600;
        font-family: sans-serif;
        margin-left: 10px;
    }
    .notify-bar img{
        margin-left: 5px;
    }
}