.post-section{
    width: 48%;
    /* border: 1px solid red; */
   overflow-y: scroll;
   height: 100vh;
   overflow-x: hidden;
}
.post-section::-webkit-scrollbar{
    display: none;
    width: 0;
}
.post{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}